body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#ffc7a2, #b0efb7, mistyrose);
    font-family: 'Delius', cursive;
    font-family: 'Homemade Apple', cursive;
}

h1 {
    font-family: 'Homemade Apple';
    color: bisque;
}

h2,
h3,
h4,
p {
    font-family: 'Delius';
}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0 0 3px black;
}

#bff-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-age:hover {
    background: goldenrod;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 200px;
}

.gift-img {
    margin: 20px auto;
    max-width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
}

#gift-img-cake:hover {
    background-image: url("images/cupcake.gif");
}

#gift-img-best:hover {
    background-image: url("images/you-are-the-best-cute.gif");
    background-size: contain;
}

#gift-img-badass:hover {
    background-image: url("images/alec2.webp");
}

#gift-img-beehappy:hover {
    background-image: url("images/beehappy.gif");
}

#gift-img-cheers:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}

.bestlol {
    font-family: 'HomeMadeApple';
    color: purple;
    letter-spacing: 3px;
    text-shadow: 0px 0px 3px black;
}
